.fatest
  display: flex
  flex-direction: column
  margin-top: 33px
  width: 100%
  overflow-y: scroll
  margin-bottom: 150px

  &__favorite
    position: absolute
    top: 10px
    right: 10px
    cursor: pointer
    color: #F83B01
    font-size: 24px
    z-index: 1
    transition: color 0.3s

    &:hover
      color: #FF5722

  &__cont
    display: flex
    justify-content: center
    align-items: center

  &__content
    display: flex
    width: 100%
    justify-content: space-between
    padding: 0px 25px
    // gap: px

    & p
      font-size: 19px
      color: #0B0C17
      font-family: rubik-medium

    & button
      // padding: 6px 5px
      width: 100%
      max-width: 110px
      height: 30px
      border-radius: 30px
      border: none
      color: #F83B01
      font-size: 12px
      font-family: rubik-medium
      background: #FED8CC

  &__cards
    display: flex
    gap: 8px
    margin-top: 20px
    // padding-left: 15px
    overflow-x: auto
    white-space: nowrap
    scrollbar-width: none
    -ms-overflow-style: none
    // margin-bottom: 100px

    &::-webkit-scrollbar
      display: none

  &__card
    position: relative
    display: inline-block
    width: 100%
    max-width: 270px
    height: 410px
    border-radius: 8px
    background: #FFFFFF
    border: 1px solid green
    // box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
    margin-left: 24px
    flex-shrink: 0
    overflow: hidden
    transition: transform 0.3s, box-shadow 0.3s

    &:hover
      // transform: scale(1.05)
      // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2)

  &__img
    width: 100%
    height: 202px
    object-fit: cover

  &__title
    color: #0B0C17
    padding-top: 8px
    font-family: rubik-bold
    padding-left: 20px
    padding-right: 20px
    font-size: 14px
    line-height: 1.2
    text-overflow: ellipsis
    overflow: hidden
    text-align: center
    white-space: nowrap

  &__desc
    color: #494C61
    font-size: 14px
    padding-top: 10px
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    // height: 50px
    text-align: center
    padding-left: 5px // Kartaning chetidan padding qo'shildi
    padding-right: 5px // Kartaning chetidan padding qo'shildi

  &__descText
    width: 100% // Matn kengligi kartaning kengligiga moslashadi
    word-wrap: break-word // Matnni uzun bo'lsa avtomatik qatorga o'tkazadi
    white-space: normal // Matn qatorlarga bo'linishi uchun
    text-align: center
    padding-right: 5px
    overflow: hidden
    // white-space: nowrap
    text-overflow: ellipsis
    line-height: 1.5em // Har bir qatorning orasidagi masofa

  &__price
    color: #0B0C17
    padding-top: 4px
    font-family: rubik-medium
    padding-left: 20px
    font-size: 14px
    padding-top: 10px
    line-height: 1.2
    text-overflow: ellipsis
    text-align: center
    overflow: hidden
    white-space: nowrap

  &__timer
    display: flex
    gap: 14px
    margin-top: 11px
    justify-content: center
    padding-right: 20px
    padding-bottom: 5px

    & p
      color: #494C61
      font-size: 12px
      font-family: rubik-regular

  &__cardActions
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 20px
    width: 100%
    position: absolute
    bottom: 0
    // background-color: #FFFFFF
    border-top: 1px solid #F0F0F0
    margin-top: 5px

  &__addToCart
    display: flex
    align-items: center
    border: none
    border-radius: 30px
    color: #FFFFFF
    background: #F83B01
    justify-content: center
    padding: 10px 20px
    font-size: 16px
    cursor: pointer
    transition: background 0.3s

    &:hover
      background: #E64A19

  &__cartCounter
    display: flex
    align-items: center
    gap: 18px
    padding: 6px 20px
    border-radius: 16px
    border: 1px solid #F83B01
    color: #F83B01
    background: #FFFFFF
    font-size: 16px
    font-family: rubik-medium
    transition: transform 0.3s

    & button
      background: none
      border: none
      font-size: 20px
      cursor: pointer
      color: #F83B01

    &.fatest__cartCounterAnimating
      animation: counterAnimation 0.3s

  &__btncont
    width: 100%
    display: flex
    justify-content: center
    align-content: center
    align-items: center

  &__orderNow
    bottom: 20px
    right: 20px
    padding: 16px 18px
    border-radius: 30px
    margin-top: 30px
    width: 80%
    border: none
    justify-content: center
    align-items: center
    align-content: center
    display: flex
    color: #FFFFFF
    font-size: 18px
    font-family: rubik-medium
    background: #F83B01
    cursor: pointer
    transition: opacity 0.3s
    margin-bottom: 100px

  @keyframes counterAnimation
    0%
      transform: scale(1)
    50%
      transform: scale(1.2)
    100%
      transform: scale(1)
