.orderPage
  padding: 20px
  background-color: #f4f4f4
  min-height: 100vh
  overflow-y: auto  // Ensure scrollability if content overflows

  h1
    text-align: center
    font-size: 28px
    margin-bottom: 20px
    font-weight: 700
    color: #333

.orderList
  display: flex
  flex-direction: column
  gap: 20px
  margin-top: 20px

.orderItem
  display: flex
  gap: 20px
  border: 2px solid #ddd
  border-radius: 10px
  padding: 15px
  background-color: #fff
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  transition: transform 0.4s ease, box-shadow 0.4s ease
  animation: slideIn 0.5s ease-out forwards

  &:hover
    transform: translateY(-8px) scale(1.02)
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15)

.orderItemImage
  flex-shrink: 0

.orderItemImage img
  border-radius: 10px
  transition: all 0.3s ease
  object-fit: cover

.orderItemDetails
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center

  h3
    font-size: 20px
    font-family: rubish-medium
    font-weight: 600
    color: #444

  p
    font-size: 15px
    padding-top: 5px
    color: #666

  .price
    font-size: 16px
    padding-top: 5px
    color: #333
    font-weight: 700

.deliveryType
  margin-top: 20px

  h2
    font-size: 22px
    font-weight: 600
    color: #333

  label
    display: block
    margin: 10px 0
    color: #333
    font-family: rubish-medium
    font-size: 20px

  input[type='radio']
    margin-right: 10px

.deliveryInfo
  margin-top: 20px
  padding: 20px
  background-color: #333
  border: 1px solid #ddd
  border-radius: 10px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  animation: fadeIn 0.5s ease-out forwards

  label
    display: block
    margin: 10px 0
    color: #fff
    font-size: 18px

  input
    width: 100%
    padding: 10px
    border: none
    border-radius: 5px
    margin-top: 5px

.submitButton, .paymentButton
  display: block
  margin-top: 20px
  padding: 15px 20px
  border: none
  border-radius: 5px
  font-size: 18px
  font-weight: 600
  cursor: pointer
  transition: background-color 0.3s ease
  background-color: #007bff
  color: #fff
  text-align: center

  &:hover
    background-color: #0056b3

.successAlert
  margin-top: 20px
  padding: 15px
  border-radius: 5px
  background-color: #28a745
  color: #fff
  text-align: center
  font-size: 18px
  font-weight: 600
