.carouselContainer
  // padding: 20px
  padding: 20px 0px 
  width: 100%
  align-content: center
  align-items: center
  padding-left: 28px
  margin-top: 10px

.slick-track
  width: 100%
  display: flex
  justify-content: center // Karta o'rtada bo'lishi uchun
  align-content: center
  align-items: center

.slick-slide
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  padding: 0 5px

.card, .cardtwo, .cardthree, .cardfour
  padding: 24px
  border-radius: 20px
  text-align: center
  width: 100% // Karta ekran bo'ylab to'liq chiqishi uchun
  max-width: 90% // Kartaning maksimal kengligi 90% bo'lsin
  box-sizing: border-box
  height: 184px
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  background: #FDF28D
  color: #ffffff
  background-image: url("/assets/img/bannerbot.jpg")
  background-repeat: no-repeat
  background-size: cover // Rasm to'liq ko'rinishi uchun
  background-position: center // Rasm markaziy joylashishi uchun
  background-blend-mode: normal // Rasm sifatli ko'rinsin

.title
  font-size: 16px
  text-align: center
  color: #ffffff
  font-family: sans-serif

.slick-dots
  bottom: -30px // Dotslar slayder ostida chiqishi uchun

.slick-dots li
  margin: 0 5px // Dotslar orasidagi masofa

.slick-dots li button
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: #999
  opacity: 1

.slick-dots li.slick-active button
  background-color: #000 // Aktiv bo'lgan dotsning rangi

@media (max-width: 800px)
  .slick-slide
    padding: 0 5px

  .card, .cardtwo, .cardthree, .cardfour
    max-width: 95%
